body {
  font-family: sans-serif;
  background-color: #dcedfd;
}

main,
footer {
  margin: 0 30px;
}

.black-lives-matter {
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
  background: black;
  color: white;
  padding: 1em;
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.item {
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 9em;
  height: 6em;
  font-size: 2em;
}

.header-cell {
  background: tomato;
}

.deduction-income {
  background: green;
}

.pride-flags {
  background: purple;
}

.pride-flags a {
  color: #dcedfd;
}

.deduction-income a {
  color: white;
}
