body {
  font-family: sans-serif;
  background-color: #dcedfd;
}

main,
footer {
  margin: 0 30px;
}

.black-lives-matter {
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
  background: black;
  color: white;
  padding: 1em;
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.item {
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 9em;
  height: 6em;
  font-size: 2em;
}

.header-cell {
  background: tomato;
}

.what-is-this {
  background: blue;
}

.what-is-this a {
  color: white;
}

.deduction-income {
  background: green;
}

.deduction-income a {
  color: white;
}

.pride-flags {
  background: purple;
}

.pride-flags a {
  color: #dcedfd;
}

.boycotts {
  background: white;
}

.boycotts a {
  color: red;
}

@media screen and (max-width: 320px) {
  .black-lives-matter {
    padding: 0.5em;
  }
    
  .item a {
    text-align: center;
  }
}
