@font-face {
  font-family: Cairo-SemiBold;
  src: url(../fonts/Cairo-SemiBold.ttf);
}

@font-face {
  font-family: Oxygen-Light;
  src: url(../fonts/Oxygen-Light.ttf);
}

body {
  font-size: 1.5em;
  font-family: Oxygen-Light, sans-serif;
  background: #c5e9ff;
}

h1, h3 {
  font-family: Cairo-SemiBold, sans-serif;
  color: darkgreen;
}

h1 {
  text-align: center;
  font-size: 3em;
}

section.big-question {
  font-family: Cairo-SemiBold;
  text-align: center;
  font-size: 2em;
  color: darkgreen;
}

p {
  margin: 0.5em 0em;
}

ul {
  max-width: 20em;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.5em;
}

main,
footer {
  max-width: 800px;
  margin: 0 auto;
}

.decade {
  font-family: Cairo-SemiBold;
  font-weight: bold;
  color: darkgreen;
}

.credit-cairo {
  font-family: Cairo-SemiBold;
}

.credit-oxygen {
  font-family: Oxygen-Light;
}

p.copyright {
  font-family: Cairo-SemiBold;
}


@media screen and (max-width: 800px) {
  h1 {
    font-size: 2.5em;
  }

  main,
  footer {
    max-width: 700px;
    margin: 0.5em auto;
  }
}

@media screen and (max-width: 480px) {
  section.local-personal-web h2 {
    float: none;
  }

  section.local-personal-web p {
    width: 100%;
    float: none;
  }
  
  main,
  footer {
    max-width: 400px;
    margin: 0.5em;
  }
}
